POSTGRES_DB=nestcms
POSTGRES_USER=nestcms
POSTGRES_PASSWORD=nestcms
DB_HOST=postgres
DB_PORT=5432
DB_NAME=nestcms
DB_USER=nestcms
DB_PASSWORD=nestcms
NUXT_PUBLIC_API_BASE=http://localhost:8080
AUTH_TOKEN_HASH_SALT=nestcms-magic-link-2026
AUTH_MAGIC_LINK_TTL_MINUTES=10
AUTH_ACCESS_TOKEN_TTL_MINUTES=15
AUTH_REFRESH_TOKEN_TTL_DAYS=7
AUTH_RATE_LIMIT_WINDOW_SECONDS=60
AUTH_RATE_LIMIT_MAX_PER_IP=6
AUTH_RATE_LIMIT_MAX_PER_EMAIL=4
AUTH_MAGIC_LINK_BASE_URL=http://localhost:3000
AUTH_REFRESH_ROTATION_ENABLED=true
MAGIC_LINK_DEBUG_RETURN_TOKEN=false
